*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
}

.main {
  width: 100%;
  height: 100vh;
  background: -moz-linear-gradient(to right, #c6edff 0%, #a3c6ff 100%);
  background: -webkit-linear-gradient(to right, #c6edff 0%, #a3c6ff 100%);
  background: linear-gradient(to right, #c6edff 0%, #a3c6ff 100%);
}

.app {
  width: 30rem;
  height: 50rem;
  max-height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.app__header {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__header--bottom {
  width: 100%;
  height: 0.7px;
  background-color: #adb5bd;
  margin-bottom: 1.5rem;
}
.app__header--label {
  font-size: 2.2rem;
  font-weight: 600;
  color: #495057;
}
.app__header--img {
  width: 4rem;
  height: 4rem;
  background-image: url(../imgs/profile.jpg);
  background-position: center;
  background-size: cover;
  border: 2px solid #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 50%;
  transition: 0.5s transform;
}
.app__header--img:hover {
  transform: scale(1.2);
}
.app__unchecked {
  padding: 0.5rem 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.app__checked {
  padding: 0.5rem 1rem;
}
.app__input {
  margin-top: auto;
  margin-bottom: 0.5rem;
}
.app__input__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__input__text-box {
  border: none;
  width: 80%;
  height: 3rem;
  border-radius: 7.5px;
  padding-left: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: #495057;
  font-family: "Open sans";
}
.app__input__text-box:focus {
  outline: none;
  box-shadow: #a5d8ff 0px 1px 2px 0px, #a5d8ff 0px 2px 6px 2px;
}
.app__input__button {
  width: 3.75rem;
  height: 3.75rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.15s box-shadow, 0.15s transform;
}
.app__input__button-svg {
  width: 100%;
  height: 100%;
  color: #228be6;
}
.app__input__button:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.3) 0px 1px 3px 1px;
}
.app__input__button:active {
  cursor: pointer;
  transform: translateY(0);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.app__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.66rem 0;
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: 0.3s transform, opacity 0.3s;
  border: 1px solid #4dabf7;
}
.app__item--check-box {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  border-radius: 50%;
  border: 1.45px solid #adb5bd;
  cursor: pointer;
}
.app__item--text {
  overflow-x: scroll;
  color: #495057;
  margin-left: 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: default;
  white-space: nowrap;
}
.app__item--edit {
  margin-left: auto;
  width: 2.33rem;
  height: 2.33rem;
  cursor: pointer;
  margin-right: 1.5rem;
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.25s transform;
}
.app__item--edit:hover {
  transform: translateY(-0.5px);
}
.app__item--edit-svg {
  width: 1.8rem;
  height: 1.8rem;
  color: #4dabf7;
}

.item-checked {
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.check-box-checked {
  background-color: #74c0fc;
  border: 0.175rem solid #7498fc;
  width: 1.75rem;
  height: 1.75rem;
}

.text-checked {
  font-weight: 300;
  color: #adb5bd;
}

.overflow {
  overflow: scroll;
}

/*# sourceMappingURL=style.css.map */
